* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto', sans-serif; 
}

header {
    background-color: rgb(254, 100, 37);
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
}


.container {
    height: 80px;
    margin: auto;
    max-width: 1170px;
    display: flex;
    padding: 40px;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-height: 30px;
    padding-right: 15px;
}

.categorie {
    color: rgb(230, 230, 230);
    width: 30%;
    display: flex;
}

li {
    list-style-type: none;
}

.categorie a {
    text-decoration: none;
    color: rgb(230, 230, 230);
}

.logo {
    width: 40%;
    text-align: center;
}

.icone {
    width: 30%;
    text-align: right;
}

.categorie li {
    padding: 8px;
}

.icone i {
    padding: 3px;
    color: rgb(230, 230, 230);
    max-width: 300px;
} 

.container_desc {
    max-width: 1170px;
    margin: 150px auto 50px;
    display: flex;
    flex-wrap: wrap;
}

.foto_desc {
    width: calc(100% / 3);
    padding: 10px;
}

.invisibile {
    visibility: hidden;
    width: 100%;
}

.images:hover .invisibile {
    visibility: visible;
}

.images:hover .visibile{
    visibility: hidden;
}

.images {
    position: relative;
    width: 100%;
}

.visibile {
    position: absolute;
    width: 100%;  
}

.sconto {
    position: absolute;
    bottom: 50px;
    left: 0;
    background-color: red;
    padding: 5px 10px;
    color: white;
    font-size: 14px;
}

.sostenibilita {
    position: absolute;
    background-color: green;
    bottom: 50px;
    left: 55px;
    padding: 5px 10px;
    color: white;
    font-size: 14px;
}

.cuore {
    color: black;
    background-color: white;
    position: absolute;
    top: 10px;
    right: 0px;
    padding: 10px;
    font-size: 20px;
}

.cuore:hover {
    color: red;
}

.rosso {
    color: red;
    padding-right: 5px;
}

.barrato {
    text-decoration: line-through;
}

.marca {
    color: darkgray;
}

.desc {
    margin-bottom: 80px;
}

#sostenibile_vicino {
    left: 0px;
}

footer {
    background-color: black;
}
.container_footer {
    width: 1170px;
    margin: auto;
    display: flex;
    color: white;
    padding: 20px;
    justify-content: space-between;
}

.tipo_azienda a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    padding: 10px;
    padding-left: 0px;
}
.tipo_azienda ul, nav ul {
    display: flex;
} 

h5 {
    padding-bottom: 10px;
}

.colore {
    color: white;
    padding: 5px;
}
